- provide(:title, 'Ninja の作品')
- provide(:desc, '今までにご参加いいただいたNinjaの作品の一部の一覧です。とても面白い発想で作られたものがたくさんあります。製作したNinjaのコメントと共にご覧ください。')

%article
  %section#ninjas-works-head.bg-secondary.text-white.mt-5
    .container
      .row
        .col-lg-12.mx-auto.text-center
          %h1.section-heading.mb-3
            Ninjas' works - Ninja の作品
          %p
            今まで参加いいただいたNinjaの作品の一部をご紹介いたします！
          %p
            とても面白い発想で作られたものがたくさんあります。製作したNinjaのコメントと共にご覧ください :)
  %section#thinking-together.bg-white.py-5
    .container
      .row
        .col-lg-8.mx-auto.text-center.mb-3
          %h2.section-heading アンダイン的な何か
      .row.align-items-center
        .col-lg-6.mx-auto.mb-3
          = raw oembed("https://youtu.be/_QdREfAxlAY")
        .col-lg-6.mx-auto.mb-3.text-center
          .row
            .col-lg-12.text-center.auther-profile-header.mx-auto.mb-3
              %h3 作った Ninja のコメント
          .row
            .col-lg-12
              %blockquote.px-5
                .row
                  .col-lg-4.text-center.mb-3.mx-auto.align-self-center
                    .row
                      .col-lg-12.mx-auto.mb-3.px-3
                        %img.img-fluid.rounded-circle{src: "#{asset_path "ninjas-icon/ucchi.jpg"}"}
                    .row
                      .col-lg-12.text-center.mx-auto.mb-3
                        %h4 うっちー
                  .col-lg-8.text-center.mb-3.mx-auto
                    %p
                      赤いハートを上下左右キーで動かして、猫が飛ばしてくる矢印をよけるゲームです。
                      %br
                      赤、青矢印はまっすぐ飛びますが、白い矢印はハートに向かって追尾してきて、
                      さらにあたってしまうと少しの間ハートが止まります。
                      しかし、白矢印は赤や青よりダメージが低いです。
                      %br
                      矢印の色別に速度や動きを変えたりと工夫しました。
      .row
        .col-lg-8.mx-auto.text-center.mb-3
          .row.justify-content-center
            .col-lg-4.mb-3
              = link_to "プレイする", '//scratch.mit.edu/projects/210911830/', class: 'btn btn-primary text-light btn-xl js-scroll-trigger w-100', target: "_new"
            .col-lg-4.mb-3
              = link_to "コードを見てみる", '//scratch.mit.edu/projects/210911830/editor/', class: 'btn btn-light btn-xl js-scroll-trigger w-100', target: "_new"
