

%article.post-contents.bg-light
  %section#post-list-section
    .container
      .row
        .col-lg-12.mx-auto.py-4.px-4.mb-3.bg-white.font-italic
          %h1 List of Posts

      - @posts.each do |post|
        .row
          .col-lg-12.bg-white.mx-auto.mb-5.float-box
            %article.py-4.px-3
              .row
                .col-lg-12.mx-auto
                  %h2
                    = link_to post.title, post
              .row
                .col-lg-12.mx-auto
                  %p= truncate(strip_tags(md_to_html(post.body)), length: 200)
              .row
                .col-lg-6
                  %p.text-muted
                    Published at
                    = post.published_at.strftime('%Y/%m/%d %H:%M')
                .col-lg-4
                  %p.text-muted
                    By
                    =link_to post.user.name, post.user


          -# .card-columns
          -#   = link_to post do
          -#     .card.border.bg-white.border-light.text-center.my-4.float-box
          -#       .card-body
          -#         .card-date-text.text-left
          -#           %p.text-muted.font-italic
          -#             Published: #{post.published_at}
          -#         %h4.card-title= post.title
          -#         %hr/
          -#         %p.card-text= truncate(md_to_html(post.body), length: 80)
          -#         %button.btn.btn-primary
          -#           %p
          -#             More
          -#             %i.fas.fa-caret-square-right
