// // Place all the styles related to the pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

#page-content {
  .page-title {
    border-bottom: 0.3rem dotted $primary;
  }
  hr {
    max-width: 100%;
    border-width: 100%;
    border-color: $primary;
    margin-bottom: 1.3rem;
  }
  
  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
  }
}
